<div>
    <div v-if="area" class="container area-container">
        <div 
            class="section-container"
            v-for="(item, i) in area.sections"
            :key="item.id">
            <layout-section
                v-on:updatechild="handleUpdateChild"
                :index="i"
                :item="item">
            </layout-section>
            <v-btn class="section-edit mx-2"
                fab small dark
                color="purple"
                @click="editSection(item.id)">
                <v-icon dark>
                    mdi-cog
                  </v-icon>
            </v-btn>
            <v-btn class="section-new"
                icon small dark outlined
                color="purple"
                @click="newSection(i, null)">
                <v-icon dark>
                    mdi-plus
                  </v-icon>
            </v-btn>
        </div>
        <v-dialog v-model="dialogNewSection" max-width="450">
            <v-card>
                <v-card-title>
                    Select layout size
                </v-card-title>
                <v-card-text>
                    <div class="row section-choices">
                        <div class="col-6">
                            <v-btn color="primary" class="btn btn-primary" @click="createSection('full')">
                                Full Width
                            </v-btn>
                        </div>
                        <div class="col-6">
                            <v-btn color="primary" class="btn btn-primary" @click="createSection('50-50')">
                                50-50 split
                            </v-btn>
                        </div>
                        <div class="col-6">
                            <v-btn color="primary" class="btn btn-primary" @click="createSection('33-66')">
                                33-66 split
                            </v-btn>
                        </div>
                        <div class="col-6">
                            <v-btn color="primary" class="btn btn-primary" @click="createSection('66-33')">
                                66-33 split
                            </v-btn>
                        </div>
                        <div class="col-6">
                            <v-btn color="primary" class="btn btn-primary" @click="createSection('33-33-33')">
                                33-33-33 split
                            </v-btn>
                        </div>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</div>