<div class="container">
    <v-btn color="primary" @click="newType">
        <font-awesome-icon icon="plus-square" size="lg" />
        New Data Collection
    </v-btn>
    <br/><br />
    <div class="list-group">
        <v-card 
            class="mb-10"
            v-for="(type, i) in topLevelProjects" 
            :key="type.id">
            <type-card
                :obj="type"
                v-on:edit="editType">
                <div v-if="getTypeChildren(type.id).length">
                    <v-divider></v-divider>
                    <v-list three-line class="ml-10">
                        <template v-for="(childType, j) in getTypeChildren(type.id)">
                            <type-card 
                                :key="childType.id"
                                :obj="childType"
                                v-on:edit="editType">
                            </type-card>
                        </template>
                    </v-list>
                </div>
            </type-card>
            </v-list>
        </v-card>
    </div>
    <v-dialog v-model="dialogEdit" max-width="450">
        <v-card v-if="editingType">
            <v-card-title>Edit Your Collection</v-card-title>
            <v-card-text>
                <v-text-field v-model="editingType.name" label="Collection Name"/>
                <v-text-field v-model="editingType.codename" label="Collection layoutUrl"/>
                <v-text-field v-model="editingType.menu_order" label="Order"/>

                <v-select v-model="editingType.parent_id"
                        label="Parent (optional)"
                        :items="possibleParents"
                        item-text="name"
                        item-value="id">
                </v-select>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="red darken-1"
                      text
                      @click="dialogEdit = false"
                    >
                      Cancel
                    </v-btn>
          
                    <v-btn
                      color="green darken-1"
                      text
                      @click="saveType"
                    >
                      Save
                    </v-btn>
                  </v-card-actions>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>