<div class="container-fluid">
    <div v-if="activeList && activeList.list" class="list-container">
        <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                v-bind="attrs"
                v-on="on"
              >
                Edit <font-awesome-icon icon="cog" size="1x" />
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="addField">
                <v-list-item-title >Add Field</v-list-item-title>
              </v-list-item>
              <v-list-item @click="editFields"> 
                  <v-list-item-title>Edit / Remove fields</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        <table-sort
            :columns="columns"
            :rows="rows">
        </table-sort>
        <modal name="fieldAddModal" height="auto">
            <label>
                Select item to add
            </label><br/>
            <select v-model="fieldToAdd">
                <option value="">Select a field</option>
                <option :value="field.id" v-for=" (field, i) in activeFieldsforDropdown" :key="i">
                    {{ field.name }}
                </option>
            </select>
            <button v-on:click="addFieldToLayout">
                Add field
            </button>
        </modal>
        <modal name="fieldConfigureModal" height="auto">
            <label>
                Select item to edit
            </label><br/>
            <select v-model="fieldToEdit">
                <option value="">Select field to edit</option>
                <option v-for="(f, i) in fieldLayoutDefinitions" :key="i" :value="i">
                    {{ f.name }}
                </option>
            </select>
            <div v-if="fieldToEdit !== ''">
                <button class="btn btn-primary" @click="removeFieldFromLayout">
                    Remove Field
                </button>
            </div>
        </modal>
    </div>
</div>