<div class="container-fluid">
    <div v-if="activeList && activeList.list" class="list-container">
        <v-data-table
            mobile-breakpoint="100"
            :headers="headers"
            :items="items"
            class="elevation-1">
            <template v-slot:header.GoTo="{ header }">
                <v-menu offset-y bottom left>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        v-bind="attrs"
                        v-on="on"
                      >
                      <v-icon>{{ 'mdi-cog' }}</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item @click="addField">
                        <v-list-item-title >Add Field</v-list-item-title>
                      </v-list-item>
                      <v-list-item @click="editFields"> 
                          <v-list-item-title>Edit / Remove fields</v-list-item-title>
                      </v-list-item>
                    </v-list>
                </v-menu>
            </template>
            <template v-slot:item.GoTo="{ item }">
                <goto :id="item.ID"></goto>
            </template>
        </v-data-table>

        <v-dialog v-model="fieldAddModal" max-width="450">
            <v-card>
                <v-card-title>
                    Select item to add
                </v-card-title>
                <v-card-text>
                    <v-select v-model="fieldToAdd" 
                        :items="activeFieldsforDropdown"
                        item-text="name"
                        item-value="id"
                        label="Select field to add">
                    </v-select>
                    <v-btn color="primary" v-on:click="addFieldToLayout">
                        Add field
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog v-model="fieldConfigureModal" max-width="450">
            <v-card>
                <v-card-title>
                    Select a field to edit
                </v-card-title>
                <v-card-text>
                    <v-select v-model="fieldToEdit" 
                        :items="fieldLayoutDefinitions"
                        item-text="name"
                        item-value="uuid"
                        label="Select field to edit">
                    </v-select>
                    <div v-if="fieldToEdit !== ''">
                        <v-btn color="primary" @click="removeFieldFromLayout">
                            Remove Field
                        </v-btn>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</div>