<div class="zone">
    <v-card-text>
        <draggable 
            :list="item.components"
            handle=".handle"
            group="fields"
            @change="onDrop"
            :move="onDrop">
                <div v-for="(child, i) in item.components"
                    class="zone-input"
                    @click="editField(child.id)"
                    :class="`child_field_${child.id}`"
                    :key="child.id">
                    <span class="handle">
                            <font-awesome-icon icon="arrows-alt" size="sm" class="inline" />
                    </span>
                    <div 
                        v-bind="fieldProps(child.id)"
                        :is="getLayoutComponent(child.id)">
                    </div>
                    <v-btn
                        color="black"
                        dark
                        v-if="!getLayoutFieldDef(child.id) || !getLayoutComponent(child.id)"
                        @click="removeField(i)"
                        class="btn-remove">
                        Remove Field
                    </v-btn>
                </div>
        </draggable>
        <v-btn @click="newField">
            + New Field
        </v-btn>
        <v-dialog v-model="modalNewField" scrollable max-width="450">
            <new-field-modal
                v-if="creatingField"
                v-on:createField="submitCreateField" />
        </v-dialog>
        <v-dialog v-model="modalEditField" max-width="450">
            <edit-field-modal
                v-if="editingField"
                v-on:edit-finish="finishEdit"
                :field="fieldInEdit" />
        </v-dialog>
    </v-card-text>
</div>
        