<div class='zone editing'>
    <div class="zone-container">
        <div v-if="item.components">
            <div v-for="(child, i) in item.components"
                class="zone-input"
                v-on:click="editField(child.id)">
                <div 
                :field="getLayoutFieldDef(child.id)"
                :is="getLayoutComponent(child.id)">
                </div>
            </div>
        </div>
        <button class="btn-field-new" @click="newField">
            + New Field
        </button>
    </div>
    <modal :name="modalNewField" height="auto">
        <new-field-modal
            v-if="creatingField"
            v-on:createField="submitCreateField" />
    </modal>
    <modal :name="modalEditField" height="auto">
        <edit-field-modal
            v-if="editingField"
            v-on:edit-finish="finishEdit"
            :field="fieldInEdit" />
    </modal>
</div>