<div>
    <v-app-bar app flat class="">
        <v-row>
          <v-col>
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-btn-toggle rounded class="">
                <v-btn
                    v-if="viewMode != 'find'" 
                    :to="`/dash/${activeProjectType.codename}/find`">
                <v-icon>mdi-magnify</v-icon>
                Search
                </v-btn>
                <v-btn
                    v-if="viewMode == 'find'" 
                    @click="cancelClick">
                    <v-icon>mdi-magnify-minus</v-icon>
                    Cancel Search
                </v-btn>
                <v-btn
                    @click="searchProjectRecords"
                    v-if="viewMode == 'find'">
                    <v-icon>mdi-magnify-plus</v-icon>
                    Run Search
                </v-btn>
                <v-btn
                    :to="`/dash/${activeProjectType.codename}/new`" 
                    v-if="activeProjectType">
                <v-icon>mdi-plus</v-icon>
                New
                </v-btn>
                <v-btn>
                <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </v-btn-toggle>
          </v-col>
          <v-col>
            <v-btn-toggle rounded class="justify-self-end">
                <v-btn 
                    :disabled="prevItem == null"
                    @click="goPrev">
                <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-btn
                    :disabled="nextItem == null"
                    @click="goNext">
                <v-icon>mdi-arrow-right</v-icon>
                </v-btn>
            </v-btn-toggle>
          </v-col>
        </v-row>
      </v-app-bar>
</div>