<div>
    <v-app-bar app flat class="">
        <v-btn-toggle rounded class="">
                <v-btn
                    :class="viewMode == 'find' ? 'd-none' : ''"
                    :disabled="viewMode == 'find'"
                    :to="`/dash/${activeProjectType.codename}/find`">
                    <v-icon>mdi-magnify</v-icon>
                    <span class="d-none d-sm-block">
                        Search
                    </span>
                </v-btn>
                <v-btn
                    :class="viewMode != 'find' ? 'd-none' : ''"
                    @click.stop="cancelClick">
                    <v-icon>mdi-arrow-left</v-icon>
                    <span class="d-none d-sm-block">
                        Cancel
                    </span>
                </v-btn>
                <v-btn
                    @click="searchProjectRecords"
                    v-if="viewMode == 'find'">
                    <v-icon>mdi-chevron-double-right</v-icon>
                    <span class="d-none d-sm-block">
                        Run
                    </span>
                </v-btn>
                <v-btn
                    :to="`/dash/${activeProjectType.codename}/new`" 
                    v-if="activeProjectType">
                    <v-icon>mdi-plus</v-icon>
                    <span class="d-none d-sm-block">
                        New
                    </span>
                </v-btn>
            </v-btn-toggle>
            <v-spacer></v-spacer>
            <v-btn-toggle dense rounded v-if="!layoutEditing">
                <v-btn 
                    :disabled="prevItem == null"
                    @click="goPrev">
                    <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-btn class="d-none d-sm-block">
                    <span v-html="currentItemDisplay"></span>
                </v-btn>
                <v-btn
                    :disabled="nextItem == null"
                    @click="goNext">
                    <v-icon>mdi-arrow-right</v-icon>
                </v-btn>
            </v-btn-toggle>
            <v-spacer></v-spacer>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                    rounded
                    icon
                    v-bind="attrs"
                    v-on="on">
                      <v-icon>{{ 'mdi-pencil' }}</v-icon>
                  </v-btn> 
                </template>
                <v-list flat>
                    <v-list-item :to="layoutUrl"
                    v-if="!layoutEditing">
                        Edit Layout
                    </v-list-item>
                    <v-list-item :to="layoutUrl"  
                        @click="saveLayout" 
                        v-if="layoutEditing">
                        Save Layout
                    </v-list-item>
                </v-list>
            </v-menu>
      </v-app-bar>
</div>