<div class="container">
    <div v-if="activeProject || viewMode == 'find'">
        <div class="row">
            <div class="col-9">
            </div>
            <div class="col-3">
                <v-btn
                    v-if="Object.keys(pendingUpdates).length"
                    color="success"
                    @click="saveChanges">
                    Save Changes
                </v-btn>
            </div>
        </div>
        <editing-area 
            v-if="activeLayout && activeLayout.layout"
            :item="activeLayout.layout.primaryArea">
        </editing-area>
    </div>
</div>