<div class="container">
    <div v-if="activeProject">
        <div class="row">
            <div class="col-9">
                <h2 v-if="viewMode == 'view'">
                    {{ activeProject.name }}
                </h2>
            </div>
            <div class="col-3">
                <button 
                    v-if="Object.keys(pendingUpdates).length"
                    @click="saveChanges"
                    class="btn btn-primary">
                    Save Changes
                </button>
            </div>
        </div>
        <editing-area 
            v-if="activeLayout && activeLayout.layout"
            :item="activeLayout.layout.primaryArea">
        </editing-area>
    </div>
</div>