<div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <div class='container'>
            <a class="navbar-brand" href="/">
                Planasaurus
            </a>
            <button class="navbar-toggler"
                type="button"
                @click="openNav" 
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                :class="{'show': navOpen}"
                class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/myq" class="nav-link">
                            My Q
                        </router-link>
                    </li>
                    <li class="nav-item" v-for="(item, i) in navItems" :key="item.id">
                        <router-link :to="parseUrl(item)" class="nav-link">
                            {{ item.name }}
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/dash/configure" class="nav-link">
                            <font-awesome-icon icon="cog" size="lg" class="inline" /> Configure
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar utility-nav navbar-expand-lg navbar-light bg-grey"
            v-if="activeProjectType"
          :class="isSticky ? 'sticky' : ''">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item" v-if="activeProjectType">
                    <router-link :to="`/dash/${activeProjectType}/new`" class="nav-link">
                        <font-awesome-icon icon="plus-square" size="2x"/>
                        New {{ activeType ? activeType.name : '' }}
                    </router-link>
                </li>
                <template v-if="viewMode != 'find'">
                    <li class="nav-item">
                        <router-link :to="`/dash/${activeProjectType}/find`" class="nav-link">
                            <font-awesome-icon icon="search" size="2x"/>
                            Search {{ activeType ? activeType.name : '' }}
                        </router-link>
                    </li>
                </template>
                <template v-if="viewMode == 'find'">
                    <li class="nav-item">
                        <button @click="cancelClick" class="nav-link">
                            <font-awesome-icon icon="angle-double-left" size="2x" />
                            Cancel Search
                        </button>
                    </li>
                    <li class="nav-item" >
                        <button @click="searchProjectRecords" class="nav-link">
                            <font-awesome-icon icon="search" size="2x" />
                            Run Search
                        </button>
                    </li>
                </template >
                <li class="nav-item util" 
                    v-if="!layoutEditing">
                    <router-link class="nav-link"
                        :to="layoutUrl">
                        <font-awesome-icon icon="edit" size="2x" />
                        Edit Layout
                    </router-link>
                </li>
                <li class="nav-item util" 
                    v-if="layoutEditing">
                    <button class="nav-link" @click="saveLayout">
                        <font-awesome-icon icon="file-upload" size="2x" />
                        Save Layout
                    </button>
                </li>
            </ul>
        </div>
    </nav>
</div>