<div class='zone editing'>
    <div class="zone-container">
        <div v-if="item.components">
            <div v-for="(child, i) in item.components">
                <div 
                :field="getLayoutFieldDef(child.id)"
                :is="getLayoutComponent(child.id)">
                </div>
            </div>
        </div>
        <button class="btn-field-new" @click="newField">
            + New Field
        </button>
    </div>
    <modal :name="modalName">
        <new-field-modal
            v-on:createField="submitCreateField">
        </new-field-modal>
    </modal>
</div>