<div>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <div class='container'>
            <a class="navbar-brand" href="/">
                Planasaurus
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/myq" class="nav-link">
                            My Q
                        </router-link>
                    </li>
                    <li class="nav-item" v-for="(item, i) in navItems" :key="item.id">
                        <router-link :to="parseUrl(item)" class="nav-link">
                            {{ item.name }}
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>